@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --toastify-font-family: "Poppins", sans-serif;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #1f1f3a;
  color: #7ee4e1;
  /* 212135 */
}
html {
}
